div.relative {
    position: relative;
    left: 30px;
    border-style: solid;
    border-color: purple;
    margin: 6%;
}
div.absolute {
    position: absolute;
    top: 220px;
    left: 40px;
    width: 300px;
    height: 200px;
    border-style: dashed;
    border-color: blue;
}
div.fixed {
    position: fixed;
    top:50px;
    left:420px;
    border-style: double;
    border-color: plum;
    background-color: black;
    color: white


}